.list p {
	margin-bottom: 16px;
	text-indent: 2em;
}

.list pre {
	position: relative;
	display: block;
	width: 100%;
	padding: 30px 5px 2px;
	border-radius: 5px;
	overflow-x: hidden;
	line-height: 20px;
	text-align: left;
	background: #21252b;
	box-shadow: 0 10px 30px #0006;
	margin: 40px 0;
}

.list pre:before {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 12px;
	height: 12px;
	overflow: visible;
	font-weight: 700;
	font-size: 16px;
	line-height: 12px;
	white-space: nowrap;
	text-indent: 75px;
	background-color: #fc625d;
	border-radius: 16px;
	box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
	content: attr(codetype);
}

.list ul {
  margin-left: 30px;
}

.list ul li {
  margin: 8px 0;
}

.list ul li .title {
  font-weight: 600;
  color: rgb(107, 106, 106);
  padding-right: 6px;
}
